<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>Pixeles</title>
  </head>
  <body>
    <h1>Pixeles</h1>
    <div class="container">
      <div class="card">
        <img class="image" src="/docs/<%= files[0] %>" width="200px" height="200px" />
        <p> </p>
        <form action="/save-PNG-file" method="POST">
          <button  id="generateButton">Generar Pixeles</button>
        </form>
        <p>El archivo creado aparecerá a <br> la derecha, primero en la lista.</p>
        <p id="generateText" class="generado"> </p>
      </div>
      <% files.map( (e, i) => { %>
      <div class="card">
        <img src="/docs/<%= e %>" alt="" />
        <p>File <%= (i + 1) %>: <%= e %></p>
        <form action="/download-file/<%= i %>" method="GET">
          <button id="<%= i %>" class="download-png-button" type="submit">DOWNLOAD PNG FILE</button>
        </form>
        <form action="/convert-to-PDF/<%= i %>">
          <button id="<%= i %>" class="convert-to-PDF-button" type="submit">CONVERT TO PDF FILE</button>
        </form>
        <form action="/download-PDF/<%= e %>"  method="POST">
          <input value="<%= e %>" type="text" style="display:none">
          <button id="<%= i %>" class="download-PDF-file" type="submit">DOWNLOAD PDF FILE</button>
        </form>
        <form action="/delete-file/<%= i %>" method="POST">
          <button id="<%= i %>" class="delete" type="submit">DELETE FILE FOREVER</button>
        </form>
        <p id="<%= i %>" class="validations">   </p>
      </div>
      <% }) %>
    </div>
    <script src="/js/validations.js"></script>
  </body>
</html>
